<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://raw.githubusercontent.com/jerehsoft/ERP2-IOS/master/SYYM/SYYM.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>https://raw.githubusercontent.com/jerehsoft/ERP2-IOS/master/SYYM/icon.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>https://raw.githubusercontent.com/jerehsoft/ERP2-IOS/master/SYYM/icon.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.suning.soyayimmy.distribution</string>
				<key>bundle-version</key>
				<string>1.1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>荟美</string>
				<key>updateText</key>
				<string>1.让您久等了，邀请好友分享终于来了！ 2.修改了跳转客服聊天界面的逻辑  3.我的日记、帖子、问答增加三个分类，分别为“我发布的”、“我关注的”、“我回复的” 4.修复了回复帖子不能正常回复的问题 5.在发现界面中增加了“视频”选项卡 6.被杀死的程序员听到客户反馈的问题后，自己又坚强的爬了起来</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
