<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://raw.githubusercontent.com/jerehsoft/ERP2-IOS/master/LOVOL_ZG_CRM_iOS_Production/LOVOL_ZG_CRM_iOS_Production.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>https://raw.githubusercontent.com/jerehsoft/ERP2-IOS/master/LOVOL_ZG_CRM_iOS_Production/icon.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>https://raw.githubusercontent.com/jerehsoft/ERP2-IOS/master/LOVOL_ZG_CRM_iOS_Production/icon.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.lovol.lovolHeavyIndustryCRMProduction</string>
				<key>bundle-version</key>
				<string>1.0.6</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>雷沃重工CRM系统</string>
				<key>attribute</key>
				<string>已知问题修复</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
